.colored_form {
    color: #FF5733;
    text-color: #FF5733;
}

input[type="text"], input[type="text"]:focus, input[type="text"]:active,
input[type="password"], input[type="password"]:focus, input[type="password"]:active,
input[type="email"], input[type="email"]:focus, input[type="email"]:active,
input[type="file"], input[type="file"]:focus, input[type="file"]:active,
input[type="file"]::file-selector-button {
    color: #FFC300;
}

.colored_button {
    color: #FF5733;
    background-color: #581845;
    border-color: #581845;
}
.colored_button:hover,
.colored_button:focus,
.colored_button:active {
    color: #FFC300;
    background-color: #581845;
    border-color: #581845;
}

.colored_check:checked {
    accent-color: #581845;
}

.colored_h {
    text-align: center;
    color: #FF5733;
}

.colored_h3 {
    color: #FF5733;
}