<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>{{ title }}</title>
</head>
<body style="background-color: #ffffe0;">
    <nav class="navbar navbar-expand navbar-dark" style="background-color: #581845;">
        <div class="container">
            <a href="/" class="navbar-brand" style="color: #FF5733;">О нас</a>
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a href="catalog" class="nav-link" style="color: #FF5733;">Каталог</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="favorite" class="nav-link" style="color: #FF5733;">Любимое</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <span class="d-inline-flex align-items-center">
                                {% if current_user.image %}
                                    <img src="{{ current_user.image }}" alt="avatar" class="rounded-circle me-2" width="30" height="30" style="object-fit: cover;">
                                {% endif %}
                                {{ current_user.name }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="color: #FF5733;" href="/account">Аккаунт</a></li>
                            <li><a class="dropdown-item" style="color: #FF5733;" href="/logout">Выйти</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="register" class="nav-link" style="color: #FF5733;">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a href="login" class="nav-link" style="color: #FF5733;">Авторизация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>