{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            {% block name %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="colored_h3">Описание</h3>
            {% block description %}{% endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h3 class="colored_h3">Изображения</h3>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                  {% for i in files %}
                    <div class="carousel-item active">
                        <img src="{{ i }}" class="d-block w-100" style="height: 60vh; object-fit: cover;">
                    </div>
                  {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>

    <div style="height: 10vh;"></div>
{% endblock %}