{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            {% block name %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="colored_h3">Описание</h3>
            {% block description %}{% endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h3 class="colored_h3">Изображения</h3>
            {% block images %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="colored_h3">Инструмент</h3>
            {% block tool %}{% endblock %}
        </div>
    </div>
{% endblock %}