{% extends 'base_component.html' %}
{% block name %}
    <h1 class="colored_h">Кнопки</h1>
{% endblock %}

{% block description %}
    <div style="color: #FFC300;">
        <h4>Определение</h4>
        <p>Тактовая кнопка (микропереключатель) — это коммутационный элемент, который замыкает электрическую цепь только в момент физического нажатия на него.</p>
    </div>
    <div style="color: #FFC300;">
        <h4>Основные функции</h4>
        <ul>
            <li>Подача сигнала управления на входы микроконтроллеров.</li>
            <li>Включение/выключение маломощных портативных устройств.</li>
            <li>Сброс параметров (кнопка Reset) на платах разработки.</li>
        </ul>
    </div>
    <div style="color: #FFC300;">
        <h4>Виды</h4>
        <ul>
            <li>Выводные (DIP)</li>
            <li>Для поверхностного монтажа (SMD)</li>
            <li>Угловые</li>
            <li>Влагозащищенные</li>
        </ul>
    </div>
{% endblock %}

{% block images %}
{% endblock %}

{% block tool %}
{% endblock %}