{% extends 'base_component.html' %}
{% block name %}
    <h1 class="colored_h">Конденсаторы</h1>
{% endblock %}

{% block description %}
    <div style="color: #FFC300;">
        <h4>Определение</h4>
        <p>Конденсатор — это пассивный двухполюсник, способный накапливать, удерживать и отдавать электрический заряд.</p>
    </div>
    <div style="color: #FFC300;">
        <h4>Основные функции</h4>
        <ul>
            <li>Сглаживание пульсаций напряжения после выпрямителя в блоках питания.</li>
            <li>Фильтрация частот (разделение переменной и постоянной составляющих сигнала).</li>
            <li>Временные задержки в генераторах импульсов и таймерах.</li>
        </ul>
    </div>
    <div style="color: #FFC300;">
        <h4>Виды</h4>
        <ul>
            <li>Керамические</li>
            <li>Электролитические</li>
            <li>Танталовые</li>
            <li>Пленочные</li>
        </ul>
    </div>
{% endblock %}