{% extends 'base_component.html' %}
{% block name %}
    <h1 class="colored_h">Диоды</h1>
{% endblock %}

{% block description %}
    <div style="color: #FFC300;">
        <h4>Определение</h4>
        <p>Диод — это активный полупроводниковый прибор с двумя выводами, обладающий односторонней проводимостью (пропускает ток от анода к катоду).</p>
    </div>
    <div style="color: #FFC300;">
        <h4>Основные функции</h4>
        <ul>
            <li>Выпрямление переменного тока в постоянный ток.</li>
            <li>Защита схем от переполюсовки питания.</li>
            <li>Индикация и освещение (в случае светодиодов).</li>
        </ul>
    </div>
    <div style="color: #FFC300;">
        <h4>Виды</h4>
        <ul>
            <li>Выпрямительные диоды</li>
            <li>Диоды Шоттки (быстродействующие)</li>
            <li>Светодиоды (LED)</li>
            <li>Стабилитроны (диоды Зенера)</li>
        </ul>
    </div>
{% endblock %}

{% block images %}
{% endblock %}

{% block tool %}
{% endblock %}