{% extends 'base_component.html' %}
{% block name %}
    <h1 class="colored_h">Дроссели</h1>
{% endblock %}

{% block description %}
    <div style="color: #FFC300;">
        <h4>Определение</h4>
        <p>Дроссель (катушка индуктивности) — это пассивный компонент в виде изолированной катушки проводника, обладающий значительной индуктивностью при низкой емкости.</p>
    </div>
    <div style="color: #FFC300;">
        <h4>Основные функции</h4>
        <ul>
            <li>Подавление высокочастотных помех в цепях питания (фильтрация).</li>
            <li>Накопление энергии в магнитных полях импульсных преобразователей.</li>
            <li>Создание колебаний в составе радиочастотных LC-контуров.</li>
        </ul>
    </div>
    <div style="color: #FFC300;">
        <h4>Виды</h4>
        <ul>
            <li>Проволочные (на ферритовом кольце или стержне)</li>
            <li>Многослойные SMD-дроссели</li>
            <li>Чип-индуктивности</li>
            <li>Силовые дроссели</li>
        </ul>
    </div>
{% endblock %}

{% block images %}
{% endblock %}

{% block tool %}
{% endblock %}