{% extends 'base_component.html' %}
{% block name %}
    <h1 class="colored_h">Резисторы</h1>
{% endblock %}

{% block description %}
    <div style="color: #FFC300;">
        <h4>Определение</h4>
        <p>Резистор — это пассивный элемент электронной цепи, обладающий определенным электрическим сопротивлением и предназначенный для регулирования тока и напряжения.</p>
    </div>
    <div style="color: #FFC300;">
        <h4>Основные функции</h4>
        <ul>
            <li>Ограничение тока для защиты светодиодов и других чувствительных компонентов.</li>
            <li>Деление напряжения для создания опорных сигналов в схемах.</li>
            <li>Подтяжка уровней (Pill-up/Pull-down) на входах микроконтроллеров.</li>
        </ul>
    </div>
    <div style="color: #FFC300;">
        <h4>Виды</h4>
        <ul>
            <li>Постоянные (выводные и SMD)</li>
            <li>Переменные (потенциометры)</li>
            <li>Подстроечные</li>
            <li>Терморезисторы (NTC/PTC)</li>
        </ul>
    </div>
{% endblock %}