{% extends 'base_component.html' %}
{% block name %}
    <h1 class="colored_h">Транзисторы</h1>
{% endblock %}

{% block description %}
    <div style="color: #FFC300;">
        <h4>Определение</h4>
        <p>Транзистор — это активный полупроводниковый компонент с тремя (или более) выводами, предназначенный для управления сильным током с помощью слабого сигнала.</p>
    </div>
    <div style="color: #FFC300;">
        <h4>Основные функции</h4>
        <ul>
            <li>Электронный ключ для включения и выключения мощных нагрузок (моторов, реле).</li>
            <li>Усиление сигналов по мощности, току или напряжению в аудио- и радиоаппаратуре.</li>
            <li>Логический элемент в составе процессоров и микросхем памяти.</li>
        </ul>
    </div>
    <div style="color: #FFC300;">
        <h4>Виды</h4>
        <ul>
            <li>Биполярные (NPN и PNP)</li>
            <li>Полевые (MOSFET)</li>
            <li>С изолированным затвором (IGBT)</li>
        </ul>
    </div>
{% endblock %}
